<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세보기</title>
</head>
<body>
<h1>게시글 상세보기</h1>
<!-- action에 {boardId}를 넣는 방법이 있다면 delete가 아닌 edit으로 수정이 더 좋을 것으로 보인다. -->
<form action="/board/delete" method="post">

    <input type="hidden" id="id" name="id" value="번호" th:value="${boardDto.id}"/>

    <!-- 테스트 데이터로 loginId가 없는 게시글이 있어 if문으로 함. 나중에 수정 필요 -->
    <div th:if="${boardDto.loginId}">
        <label for="loginId">글쓴이(아이디)</label>
        <input type="text" id="loginId" name="loginId" class="form-control" value="글쓴이(아이디)"
               th:value="*{boardDto.loginId}" readonly>
    </div>

    <div>
        <label for="tile">제목</label>
        <input type="text" id="tile" name="title" value="제목" th:value="${boardDto.title}" readonly>
    </div>

    <div>
        <label for="content">내용</label>
        <input type="text" id="content" name="content" value="내용" th:value="${boardDto.content}" readonly>
    </div>

    <div>
        <label for="views">조회수</label>
        <input type="text" id="views" name="views" value="조회수" th:value="${boardDto.views}" readonly>
    </div>

    <div th:if="${boardDto.attachFile}">
        첨부파일: <a th:href="|/attach/${boardDto.id}|" th:text="${boardDto.attachFile.getUploadFileName()}"></a>
    </div>

    <img th:each="imageFile : ${boardDto.imageFiles}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"/><br>

    <button onclick="location.href='editBoardForm.html'"
            th:onclick="|location.href='@{/board/{boardId}/edit(boardId=${boardDto.id})}'|"
            type="button">수정
    </button>

    <button type="submit">삭제</button>

    <button onclick="location.href='../list.html'"
            th:onclick="|location.href='@{/}'|"
            type="button">취소
    </button>

    <br><br>
</form>

<!--    댓글-->
<h5 th:text="|${#lists.size(boardDto.comments)}개의 댓글이 있습니다.|"></h5>

<form th:each="comment : ${boardDto.comments}" th:action="@{/comment/{commentId}/delete(commentId=${comment.commentId})}" th:object="${boardDto}" method="post">
    <!-- name값이 controller에 전달 될때 key값이 된다. 즉, id 멤버변수를 가지고 있는 boardDto의 id 값이 세팅된다. -->
    <input type="hidden" id="boardId" name="id" th:value="${boardDto.id}"/>

    <ul>
        <li th:text="${comment.commentContent}"></li>
        <span th:text="${comment.getLastModifiedDate()}"></span>
        <button onclick="location.href='board.html'"
                th:onclick="|location.href='@{/comment/{commentId}/edit(commentId=${comment.commentId})}'|"
                type="button">수정
        </button>
        <input type="submit" value="삭제"/>
    </ul>
</form>

<form th:action="@{|/comment/${boardDto.id}/create|}" method="post">
    <textarea name="commentContent" id="commentContent" rows="15"></textarea>
    <input type="submit" value="댓글등록">
</form>

</body>
</html>
