<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글쓰기</title>

  <style>
    .container {
      max-width: 560px;
    }
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>

</head>
<body>
<h1>글쓰기</h1>
<form action="/board/new" enctype="multipart/form-data" th:object="${boardFormDto}" method="post" >

<!--  <div>-->
<!--    <label for="loginId">글쓴이(아이디)</label>-->
<!--    <input type="text" id="loginId" name="loginId" class="form-control" value="글쓴이(아이디)"-->
<!--           th:value="${loginFormDto.loginId}" readonly>-->
<!--  </div>-->

  제목 : <input type="text" id="title" th:field="*{title}"
          th:classappend="${errors?.containsKey('titleError')} ? 'form-control field-error' : _"
              class="form-control" placeholder="제목을 입력하세요"><br/>
        <div class="field-error" th:if="${errors?.containsKey('titleError')}" th:text="${errors['titleError']}">
          제목 오류
        </div>

  내용 : <input type="text" name="content" /><br/>
  <input type="file" id="attachFile" name="attachFile" class="form-control" value="첨부파일" /><br/>

  <input type="submit" value="등록" />
  <button onclick="location.href='../list.html'"
          th:onclick="|location.href='@{/}'|"
          type="button">취소</button>
</form>
</body>
</html>
