<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정</title>

    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<h1>게시글 수정</h1>
<form action="/board" enctype="multipart/form-data" th:action th:object="${boardDto}" method="post">

    <input type="hidden" id="id" name="id" class="form-control" value="번호" th:value="*{id}" readonly>

<!--    <div>-->
<!--        <label for="loginId">글쓴이(아이디)</label>-->
<!--        <input type="text" id="loginId" name="loginId" class="form-control" value="상품A"-->
<!--               th:value="${boardDto.loginId}" readonly>-->
<!--    </div>-->

    <div>
        <label for="tile">제목</label>
        <input type="text" id="tile" th:field="*{title}" th:errorclass="field-error">
        <div class="field-error" th:errors="*{title}">
            제목 오류
        </div>
    </div>

    <div>
        <label for="content">내용</label>
        <input type="text" id="content" th:field="*{content}" th:errorclass="field-error">
        <div class="field-error" th:errors="*{content}">
            내용 오류
        </div>
    </div>

    <input type="file" id="newAttachFile" name="newAttachFile" class="form-control" value="첨부파일"/><br/>

    <div th:if="${boardDto.uploadFileName}">
        첨부파일: <a type="file" th:text="${boardDto.uploadFileName}"></a>
    </div>

    <button type="submit">저장</button>

    <button onclick="history.back()">취소</button>

</form>
<!--<button onclick="location.href='board.html'"-->
<!--        th:onclick="|location.href='@{/board/{boardId}(boardId=${boardDto.id})}'|"-->
<!--        type="button">취소</button>-->
</body>
</html>
