<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세보기</title>
</head>
<body>
<h1>게시글 상세보기</h1>
<form action="/board" enctype="multipart/form-data" th:action method="post">

    <input type="hidden" id="id" name="id" class="form-control" value="번호" th:value="${boardFormDto.id}" readonly>

    <div>
        <label for="loginId">글쓴이(아이디)</label>
        <input type="text" id="loginId" name="loginId" class="form-control" value="상품A"
               th:value="${boardFormDto.loginId}" readonly>
    </div>

    <div>
        <label for="tile">제목</label>
        <input type="text" id="tile" name="title" class="form-control" value="제목" th:value="${boardFormDto.title}">
    </div>

    <div>
        <label for="content">내용</label>
        <input type="text" id="content" name="content" class="form-control" value="내용"
               th:value="${boardFormDto.content}">
    </div>

    <input type="file" id="attachModiFile" name="attachModiFile" class="form-control" value="첨부파일"/><br/>

    <div th:if="${boardFormDto.uploadFileName}">
        첨부파일: <a type="file" th:text="${boardFormDto.uploadFileName}"></a>
    </div>

    <button type="submit">저장</button>

    <button onclick="history.back()">취소</button>

</form>
<!--<button onclick="location.href='board.html'"-->
<!--        th:onclick="|location.href='@{/board/{boardId}(boardId=${boardFormDto.id})}'|"-->
<!--        type="button">취소</button>-->
</body>
</html>
