<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>

    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>

    <script>
        let countdown;
        let timeLeft = 180; // 3분

        function startCountdown() {
            updateCountdownDisplay();
            document.getElementById("verificationButton").disabled = false;

            countdown = setInterval(() => {
                if (timeLeft <= 0) {
                    clearInterval(countdown);
                    document.getElementById("verificationButton").disabled = true;
                    document.getElementById("countdown").innerText = "시간 만료";
                } else {
                    timeLeft--;
                    updateCountdownDisplay();
                }
            }, 1000);
        }

        function updateCountdownDisplay() {
            const minutes = Math.floor(timeLeft / 60);
            const seconds = timeLeft % 60;
            document.getElementById("countdown").innerText = `${minutes}분 ${seconds}초`;
        }

        function resetCountdown() {
            clearInterval(countdown);
            timeLeft = 180;
            startCountdown();
        }

        function verifyCode() {
            const code = document.getElementById("verificationInput").value;
            const email = document.getElementById("email").value;
            fetch('/verification-code', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ code, email }),
            })
                .then(response => response.text())
                .then(data => {
                    if (data === "ok") {
                        document.getElementById("verificationButton").innerText = "인증완료";
                        document.getElementById("verificationButton").disabled = true;
                        document.getElementById("email").disabled = true;
                        document.getElementById("getCodeButton").disabled = true;
                        document.getElementById("verificationInput").disabled = true;
                        clearInterval(countdown);
                        document.getElementById("countdown").innerText = "";
                    } else {
                        alert('인증 코드가 유효하지 않습니다.');
                    }
                });
        }

        function requestVerificationCode() {
            const email = document.getElementById("email").value;
            fetch('/verify-email', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email }),
            })
                .then(response => {
                    if (response.ok) {
                        // 인증코드 입력란 및 버튼 활성화
                        document.getElementById("verificationSection").style.display = "block";
                        document.getElementById("verificationInput").disabled = false;
                        document.getElementById("verificationInput").focus();
                        resetCountdown();
                    } else {
                        alert('이메일 전송에 실패했습니다.');
                    }
                });
        }

        // TODO : 이메일 인증 기능을 위해 gmail smtp를 사용했는데 AWS 서버에서 사용하려면 AWS SES를 사용 해야한다.
        // TODO : AWS SES 사용을 위해 도메인 등이 필요하고 검수(?) 받는데 시간이 걸려 이메일 인증 기능은 주석처리 함
        // TODO : 실제 기능은 구현되어 있고 AWS SES 설정만 해주면 되기에 차후에 하기로 결정함
        function validateForm(event) {
            return true;
            // const isVerificationDisabled = document.getElementById("verificationButton").disabled;
            // const isGetCodeDisabled = document.getElementById("getCodeButton").disabled;
            //
            // if (isVerificationDisabled && isGetCodeDisabled) {
            //     // 이메일 입력한이 활성화 되어야 emial 값이 전송된다.
            //     document.getElementById("email").disabled = false;
            //     return true; // 폼 제출 허용
            // } else {
            //     event.preventDefault(); // 폼 제출 방지
            //     alert("이메일 인증이 완료되지 않았습니다.");
            //     return false; // 폼 제출 차단
            // }
        }
    </script>
</head>
<body>
<h1>회원 가입</h1>
<form action="/member/signup" th:object="${memberDto}" method="post" onsubmit="return validateForm(event);">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}"
           th:text="${err}">글로벌 오류 메시지</p>
    </div>

    <div>
        <label for="loginId">ID</label>
        <input type="text" id="loginId" th:field="*{loginId}" th:errorclass="field-error" placeholder="아이디를 입력하세요"/><br/>
        <div class="field-error" th:errors="*{loginId}">아이디 오류</div>
    </div>
    <div>
        <label for="username">이름</label>
        <input type="text" id="username" th:field="*{memberName}" th:errorclass="field-error" placeholder="이름을 입력하세요"/><br/>
        <div class="field-error" th:errors="*{memberName}">이름 오류</div>
    </div>

    <label for="email">이메일:</label>
    <input type="text" id="email" th:field="*{email}" th:errorclass="field-error" placeholder="이메일을 입력하세요" />
<!--    <button type="button" id="getCodeButton" onclick="requestVerificationCode()">인증코드 받기</button><br>-->
    <div class="field-error" th:errors="*{email}">이메일 오류</div>

<!--    <div id="verificationSection" style="display:none;">-->
<!--        <input type="text" id="verificationInput" placeholder="인증코드" disabled>-->
<!--        <span id="countdown" style="margin-left: 10px;">3분 0초</span>-->
<!--        <button type="button" id="verificationButton" onclick="verifyCode()" disabled>인증하기</button>-->
<!--    </div>-->

    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}" th:errorclass="field-error" placeholder="비밀번호를 입력하세요"/><br/>
        <div class="field-error" th:errors="*{password}">비밀번호 오류</div>
    </div>
    <div>
        <label for="passwordConfirm">비밀번호 확인</label>
        <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}" th:errorclass="field-error" placeholder="비밀번호를 다시 입력하세요"/><br/>
        <div class="field-error" th:errors="*{passwordConfirm}">비밀번호 확인 오류</div>
    </div>

    <input type="submit" value="회원가입"/>
    <button onclick="location.href='../list.html'" th:onclick="|location.href='@{/}'|" type="button">취소</button>

</form>
</body>
</html>
