<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세보기</title>
</head>
<body>
<h1>게시글 상세보기</h1>
<form action="board" th:action method="post">
    <input type="text" id="id" name="id" class="form-control" value="번호" th:value="${postFormDto.id}" readonly>
    <div>
        <label for="loginId">글쓴이(아이디)</label>
        <input type="text" id="loginId" name="loginId" class="form-control" value="상품A" th:value="${postFormDto.loginId}" readonly>
    </div>
    <div>
        <label for="tile">제목</label>
        <input type="text" id="tile" name="title" class="form-control" value="제목" th:value="${postFormDto.title}">
    </div>
    <div>
        <label for="content">내용</label>
        <input type="text" id="content" name="content" class="form-control" value="내용" th:value="${postFormDto.content}">
    </div>

    <button type="submit">저장</button>
</form>
<button onclick="location.href='post.html'"
        th:onclick="|location.href='@{/board/posts/{postId}(postId=${postFormDto.id})}'|"
        type="button">취소</button>
</body>
</html>
