<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세보기</title>
</head>
<body>
<h1>게시글 상세보기</h1>

<div>
    <label for="postId">글쓴이(아이디)</label>
    <input type="text" id="postId" name="postId" class="form-control" value="상품A" th:value="${post.loginId}" readonly>
</div>
<div>
    <label for="postId">제목</label>
    <input type="text" id="tile" name="title" class="form-control" value="제목" th:value="${post.title}" readonly>
</div>
<!--<div>-->
<!--    <label for="price">내용</label>-->
<!--    <input type="text" id="price" name="price" class="form-control" value="10000" th:value="${post.price}" readonly>-->
<!--</div>-->
<!--<div>-->
<!--    <label for="price">조회수</label>-->
<!--    <input type="text" id="price" name="price" class="form-control" value="10000" th:value="${post.price}" readonly>-->
<!--</div>-->
<!--<div>-->
<!--    <label for="quantity">작성일</label>-->
<!--    <input type="text" id="quantity" name="quantity" class="form-control" value="10" th:value="${post.quantity}" readonly>-->
<!--</div>-->

제목, 글쓴이, 조회수, 내용, 작성일
</body>
</html>
