<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 목록보기</title>
    <link rel="stylesheet" href="/css/board.css" />
</head>
<body>
<section class="board">
    <div class="page-title">
        <div class="container">
            <h3>게시글 목록보기</h3>
        </div>
    </div>

    <div class="login-info">
        <div class="container">
            <a href="/board/new" style="float: left">글쓰기</a>
        </div>
    </div>

    <!-- board list area -->
    <div id="board-list">
        <div class="container">
            <table class="board-table">

                <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-viewcnt">조회수</th>
                    <th scope="col" class="th-date">등록일</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="board : ${pageBoardDtos}">
                    <td><a href="board/board.html" th:href="@{/board/{boardId}(boardId=${board.id})}" th:text="${board.id}">번호</a></td>
                    <td><a href="board/board.html" th:href="@{|/board/${board.id}|}" th:text="${board.title}">제목</a>
                        <span th:if="${#lists.size(board.comments) > 0}" th:text="|(${#lists.size(board.comments)})|"></span>
                    </td>
                    <td><p th:text="${board.views}">조회수</p></td>
                    <td><p th:text="${board.getCreatedDate()}">등록일</p></td>
                </tr>
                </tbody>

            </table>
        </div>

<!--        &lt;!&ndash; 첫번째 페이지로 이동 &ndash;&gt;-->
<!--        <a th:href="@{/(page=1)}">첫 페이지 </a>-->

        <a th:if="${pageBoardDtos.number > 0}">
            <a th:href="@{/(page=${pageBoardDtos.number - 1})}" style="color:#FF0000">
                Previous
            </a>
        </a>
        <a th:unless="${pageBoardDtos.number > 0}">
            Previous
        </a>

        <span th:each="pageNumber : ${paginationBarNumbers}">
            <span th:if="${pageNumber == pageBoardDtos.number}" th:text="${pageNumber + 1}"></span>
            <span th:unless="${pageNumber == pageBoardDtos.number}">
               <a th:href="@{/(page=${pageNumber})}" th:text="${pageNumber + 1}" style="color:#FF0000"></a>
            </span>
        </span>

        <a th:if="${pageBoardDtos.number < pageBoardDtos.totalPages - 1}">
            <a th:href="@{/(page=${pageBoardDtos.number + 1})}" style="color:#FF0000">
                Next
            </a>
        </a>
        <a th:unless="${pageBoardDtos.number < pageBoardDtos.totalPages - 1}">
            Next
        </a>

<!--        &lt;!&ndash; 마지막 페이지로 이동 &ndash;&gt;-->
<!--        <a th:href="@{/(page=${pageBoardDtos.totalPages})}"> 마지막 페이지</a>-->

    </div>
</section>
</body>
</html>
