<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 목록보기</title>
    <link rel="stylesheet" href="/css/board.css" />
</head>
<body>
<section class="board">
    <div class="page-title">
        <div class="container">
            <h3>게시글 목록보기</h3>
        </div>
    </div>

    <div class="login-info">
        <div class="container">
            <a href="/board/new" style="float: left">글쓰기</a>
            <!-- https://dev-gorany.tistory.com/139 -->
            <span sec:authorize="isAuthenticated()">
                <span sec:authentication="name"></span>
            </span>
            <span>
                <a sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
            </span>
            <span>
                <a href="/member/signup">회원가입</a>
            </span>
        </div>
    </div>

    <!-- board list area -->
    <div id="board-list">
        <div class="container">
            <table class="board-table">

                <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-writer">작성자</th>
                    <th scope="col" class="th-viewcnt">조회수</th>
                    <th scope="col" class="th-date">등록일</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="board : ${listBoardDtos}">
                    <td><a href="board/board.html" th:href="@{/board/{boardId}(boardId=${board.id})}" th:text="${board.id}">번호</a></td>
                    <td><a href="board/board.html" th:href="@{|/board/${board.id}|}" th:text="${board.title}">제목</a>
                        <span th:if="${board.commentSize > 0}" th:text="|(${board.commentSize})|"></span>
                    </td>
                    <td><p th:text="${board.loginId}">작성자</p></td>
                    <td><p th:text="${board.views}">조회수</p></td>
                    <td><p th:text="${board.getCreatedDate()}">등록일</p></td>
                </tr>
                </tbody>

            </table>
        </div>

<!--        &lt;!&ndash; 첫번째 페이지로 이동 &ndash;&gt;-->
<!--        <a th:href="@{/(page=1)}">첫 페이지 </a>-->

        <a th:if="${listBoardDtos.number > 0}">
            <a th:href="@{/(page=${listBoardDtos.number - 1})}" style="color:#FF0000">
                Previous
            </a>
        </a>
        <a th:unless="${listBoardDtos.number > 0}">
            Previous
        </a>

        <span th:each="pageNumber : ${paginationBarNumbers}">
            <span th:if="${pageNumber == listBoardDtos.number}" th:text="${pageNumber + 1}"></span>
            <span th:unless="${pageNumber == listBoardDtos.number}">
               <a th:href="@{/(page=${pageNumber})}" th:text="${pageNumber + 1}" style="color:#FF0000"></a>
            </span>
        </span>

        <a th:if="${listBoardDtos.number < listBoardDtos.totalPages - 1}">
            <a th:href="@{/(page=${listBoardDtos.number + 1})}" style="color:#FF0000">
                Next
            </a>
        </a>
        <a th:unless="${listBoardDtos.number < listBoardDtos.totalPages - 1}">
            Next
        </a>

<!--        &lt;!&ndash; 마지막 페이지로 이동 &ndash;&gt;-->
<!--        <a th:href="@{/(page=${listBoardDtos.totalPages})}"> 마지막 페이지</a>-->

    </div>
</section>
</body>
</html>
