<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판 목록보기</title>
    <link rel="stylesheet" href="/css/board.css" />
</head>
<body>
<section class="board">
    <div class="page-title">
        <div class="container">
            <h3>게시글 목록보기</h3>
        </div>
    </div>

    <div class="login-info">
        <div class="container">
            <a href="/board/new" style="float: left">글쓰기</a>

          <span class="login-info_user" th:if="${loginFormDto != null}">
              <a th:href="|/member/boardList|" th:text="${loginFormDto.loginId}"></a>
          </span>
            <span class="login-info_logout" th:if="${loginFormDto == null}">
            <a href="/login">로그인</a>
          </span>
            <span class="login-info_logout" th:if="${loginFormDto != null}">
            <a href="/logout">로그아웃</a>
          </span>
            <span class="login-info_join" th:if="${loginFormDto == null}">
            <a href="/member/add">회원가입</a>
          </span>
        </div>
    </div>

    <!-- board list area -->
    <div id="board-list">
        <div class="container">
            <table class="board-table">

                <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-viewcnt">조회수</th>
                    <th scope="col" class="th-date">등록일</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="board : ${boards}">
                    <td><a href="board/board.html" th:href="@{/board/{boardId}(boardId=${board.id})}" th:text="${board.id}">번호</a></td>
                    <td><a href="board/board.html" th:href="@{|/board/${board.id}|}" th:text="${board.title}">제목</a></td>
                    <td><a href="board/board.html" th:text="${board.views}">조회수</a></td>
                    <td>등록일</td>
                </tr>
                </tbody>

            </table>
        </div>

<!--        &lt;!&ndash; 첫번째 페이지로 이동 &ndash;&gt;-->
<!--        <a th:href="@{/(page=1)}">첫 페이지 </a>-->

        <a th:if="${boards.number > 0}">
            <a th:href="@{/(page=${boards.number - 1})}" style="color:#FF0000">
                Previous
            </a>
        </a>
        <a th:unless="${boards.number > 0}">
            Previous
        </a>

        <span th:each="pageNumber : ${paginationBarNumbers}">
            <span th:if="${pageNumber == boards.number}" th:text="${pageNumber + 1}"></span>
            <span th:unless="${pageNumber == boards.number}">
               <a th:href="@{/(page=${pageNumber})}" th:text="${pageNumber + 1}" style="color:#FF0000"></a>
            </span>
        </span>

        <a th:if="${boards.number < boards.totalPages - 1}">
            <a th:href="@{/(page=${boards.number + 1})}" style="color:#FF0000">
                Next
            </a>
        </a>
        <a th:unless="${boards.number < boards.totalPages - 1}">
            Next
        </a>

<!--        &lt;!&ndash; 마지막 페이지로 이동 &ndash;&gt;-->
<!--        <a th:href="@{/(page=${boards.totalPages})}"> 마지막 페이지</a>-->

    </div>
</section>
</body>
</html>
