<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>게시판 목록보기</title>
    <link rel="stylesheet" href="/css/board.css"/>
</head>
<body>
<section class="board">
    <div class="page-title">
        <div class="container">
            <h3>게시글 목록보기</h3>
        </div>
    </div>

    <div class="login-info">
        <div class="container">
            <!--            <a href="/posts/new" style="float: left">글쓰기</a>-->
            <form action="/posts/new" th:action th:object="${loginFormDto}" method="get" style="float: left">
                <a href="/posts/new" style="float: left">글쓰기</a>
            </form>
            <span class="login-info_user">
            <span>멤버</span>
          </span>
            <span class="login-info_logout">
            <a href="/logout">로그아웃</a>
          </span>
            <span class="login-info_join">
            <a href="/members/add">회원가입</a>
          </span>
        </div>
    </div>

    <!-- board list area -->
    <div id="board-list">
        <div class="container">
            <table class="board-table">
                <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-viewcnt">조회수</th>
                    <th scope="col" class="th-date">등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td><a href="posts/post.html" th:href="@{/board/posts/{postId}(postId=${post.id})}"
                           th:text="${post.id}">번호</a></td>
                    <td><a href="posts/post.html" th:href="@{|/board/posts/${post.id}|}" th:text="${post.title}">제목</a>
                    </td>
                    <td>조회수</td>
                    <td>등록일</td>
                    <!--                    <td><a th:text="${post.views}">조회수</a></td>-->
                    <!--                    <td><a th:text="${post.createdDate}">등록일</a></td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
